<div class="flex items-center gap-4 p-4">
  <%= render JetUi::Spinner::Component.new(size: 8) %>
  <%= render JetUi::Spinner::Component.new(size: 8, class: 'text-blue-500') %>
  <%= render JetUi::Spinner::Component.new(size: 8, class: 'text-green-500') %>
  <%= render JetUi::Spinner::Component.new(size: 8, class: 'text-red-500') %>
  <%= render JetUi::Spinner::Component.new(size: 8, class: 'text-purple-500') %>
</div>
